button {
	border-radius: 5px;
}

textarea {
	resize: none;
}

.showarea {
	width: 95%;
	height: 100px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
	margin: 10px auto;
	padding: 10px;
	border: 2px solid #000;
}

.showarea div {
	display: inline-block;
	animation: fadeIn 1s;
	text-align: center;
	margin-right: 5px;
	padding: 5px;
	color: #fff;
}

#skill div{
	background: #5CC9F5;
}

#hobby div{
	background: #f1ac2b;
}

#hobby div:hover, #skill div:hover{
	background: #ff0000;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}